.DiagramCanvas {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 20px;
}

.react-flow__edge-path {
    stroke-width: 3px !important;
    stroke: var(--border-forma) !important;
}

