@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.forminicial{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    gap: 8px;

}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    
}

.funciones{
  display: flex;
  flex-direction: row;
  height: 90%;
  gap: 20px;
}
.codigos{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  background-color: #091413;
  border-radius: 8px;
}

.titulo{

  font-family: 'Staatliches', system-ui, sans-serif;
  font-size: 45px;
  font-weight: 400; 
  color: #9FADA6; 
  letter-spacing: -0.5px; 
  text-transform: uppercase; 
  margin: 0;
  position: absolute;
  line-height: 0.8;
  
  


}

.boton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  background-color: #024023;
  border-color: #055C33;
  border-width: 2px;
  color: white;
  font-family: 'Staatliches', system-ui, sans-serif;
  font-size: 18px;
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
}


