.toolbar{
    display: flex;
    gap: 40px;
    padding: 10px;
    background-color: var(--pizzarra);
    flex-direction: column;
    width: 20%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;

}

.button_proceso{
    width: 125px;
    height: 48px;
    padding: 0;
    border: 3px solid var(--border-forma);
    background: var(--backr-forma);
    text-Align: center;
    color: var(--border-forma);
    font-Weight: bold;
    font-Family: Source Code Pro, monospace;
    line-height: 15px;
    font-Size: 18px;
    border-Radius: 5px
}

.button_condicion{
    width: 125px;
    height: 78px;
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.condition_diamond{
    width: 58px;
    height: 58px;
    background: var(--backr-forma);
    border: 3px solid var(--border-forma);
    color: var(--border-forma);
    font-weight: bold;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-Family: Source Code Pro, monospace;
    line-height: 15px;
    font-size: 18px;
    border-radius: 5px;
}

.condition_text{
    transform: rotate(-45deg);
    text-align: center;
    font-size: 12px;
}

.button_inicio_fin{
    width: 125px;
    height: 48px;
    padding: 0;
    border: 3px solid var(--border-forma);
    border-radius: 50px;
    background: var(--backr-forma);
    text-align: center;
    color: var(--border-forma);
    font-style: normal;
    font-weight: bold;
    font-family: Source Code Pro, monospace;
    line-height: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button_entrada_salida{
    width: 125px;
    height: 48px;
    background-color: var(--backr-forma); 
    border: 3px solid var(--border-forma);
    color: var(--border-forma);
    transform: skewX(-20deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-Family: Source Code Pro, monospace;
    line-height: 15px;
    font-size: 18px;
    border-radius: 9px;
    font-weight: bold;
}
